<a href="https://colab.research.google.com/github/OZambranoE/predicciones-de-ventas/blob/main/prediccion_tsunamisW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [21]:
filename = "/content/drive/MyDrive/Codificación de Dojo/SemanaM2/earthquake_data.csv"
df = pd.read_csv(filename)
df.head(20)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,22-11-2022 02:03,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.5960,"Malango, Solomon Islands",Oceania,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,18-11-2022 13:37,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.7380,"Bengkulu, Indonesia",NaN,NaN
2,M 7.0 -,7.0,12-11-2022 07:09,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.3460,NaN,Oceania,Fiji
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,11-11-2022 10:48,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.1290,"Neiafu, Tonga",NaN,NaN
4,M 6.6 -,6.6,09-11-2022 10:14,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.2780,NaN,NaN,NaN
5,M 7.0 - south of the Fiji Islands,7.0,09-11-2022 09:51,4,3,green,1,755,us,142,4.578,26.0,mwb,660.000,-26.0442,178.3810,the Fiji Islands,NaN,NaN
6,M 6.8 - south of the Fiji Islands,6.8,09-11-2022 09:38,1,3,green,1,711,us,136,4.678,22.0,mww,630.379,-25.9678,178.3630,the Fiji Islands,NaN,NaN
7,"M 6.7 - 60 km SSW of Boca Chica, Panama",6.7,20-10-2022 11:57,7,6,green,1,797,us,145,1.151,37.0,mww,20.000,7.6712,-82.3396,"Boca Chica, Panama",NaN,Panama
8,"M 6.8 - 55 km SSW of Aguililla, Mexico",6.8,22-09-2022 06:16,8,7,yellow,1,1179,us,175,2.137,92.0,mww,20.000,18.3300,-102.9130,"Aguililla, Mexico",North America,Mexico
9,"M 7.6 - 35 km SSW of Aguililla, Mexico",7.6,19-09-2022 18:05,9,8,yellow,1,1799,us,271,1.153,69.0,mww,26.943,18.3667,-103.2520,"Aguililla, Mexico",North America,Mexico
10,"M 6.9 - 90 km E of Yujing, Taiwan",6.9,18-09-2022 06:44,9,9,yellow,1,887,us,215,0.401,34.0,mww,10.000,23.1444,121.3070,"Yujing, Taiwan",Asia,Taiwan
11,"M 6.5 - 96 km SE of Lugu, Taiwan",6.5,17-09-2022 13:41,7,7,green,1,756,us,178,0.430,54.0,mww,10.000,23.0290,121.3480,"Lugu, Taiwan",Asia,Taiwan
12,"M 7.0 - 209 km SSE of Isangel, Vanuatu",7.0,14-09-2022 11:04,7,5,green,1,761,us,192,2.977,45.0,mww,137.000,-21.2077,170.2390,"Isangel, Vanuatu",NaN,NaN
13,"M 7.6 - 70 km E of Kainantu, Papua New Guinea",7.6,10-09-2022 23:47,8,8,yellow,1,965,us,272,3.158,12.0,mww,116.000,-6.2237,146.4710,"Kainantu, Papua New Guinea",Oceania,Papua New Guinea
14,"M 6.6 - 44 km SE of Kangding, China",6.6,05-09-2022 04:52,9,8,orange,0,1043,us,141,8.454,34.0,mww,12.000,29.7263,102.2790,"Kangding, China",Asia,People's Republic of China
15,M 6.6 - south of the Kermadec Islands,6.6,14-08-2022 13:44,7,6,green,1,672,us,68,5.293,34.0,mww,30.000,-32.6922,-178.9590,the Kermadec Islands,NaN,NaN
16,"M 7.0 - 11 km NE of Bantay, Philippines",7.0,27-07-2022 00:43,9,8,yellow,1,1351,us,152,5.276,22.0,mww,33.729,17.5978,120.8090,"Bantay, Philippines",Asia,Philippines
17,"M 6.5 - 107 km SSW of Tarauacá, Brazil",6.5,08-06-2022 00:55,3,2,green,0,653,us,236,1.999,31.0,mww,622.730,-9.0618,-71.1647,"Tarauacá, Brazil",South America,Brazil
18,"M 7.2 - 10 km W of Azángaro, Peru",7.2,26-05-2022 12:02,7,5,green,1,876,us,144,2.494,40.0,mww,236.000,-14.8628,-70.3081,"Azángaro, Peru",South America,Peru
19,M 6.9 -,6.9,19-05-2022 10:13,2,5,green,1,733,us,127,0.371,45.0,mww,10.000,-54.1325,159.0270,NaN,NaN,NaN

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      782 non-null    object
 1   magnitude  782 non-null    float64
 2   date_time  782 non-null    object
 3   cdi        782 non-null    int64
 4   mmi        782 non-null    int64
 5   alert      415 non-null    object
 6   tsunami    782 non-null    int64
 7   sig        782 non-null    int64
 8   net        782 non-null    object
 9   nst        782 non-null    int64
 10  dmin       782 non-null    float64
 11  gap        782 non-null    float64
 12  magType    782 non-null    object
 13  depth      782 non-null    float64
 14  latitude   782 non-null    float64
 15  longitude  782 non-null    float64
 16  location   777 non-null    object
 17  continent  206 non-null    object
 18  country    484 non-null    object
dtypes: float64(6), int64(5), object(8)
memory usage: 116.2+ KB

In [23]:
#se crea un nuevo df con las columnas a utilizar
df_filtrado = df[["magnitude","depth","sig", "gap", "tsunami"]]
df_filtrado.head(10)

   magnitude    depth   sig   gap  tsunami
0        7.0   14.000   768  17.0        1
1        6.9   25.000   735  34.0        0
2        7.0  579.000   755  18.0        1
3        7.3   37.000   833  21.0        1
4        6.6  624.464   670  27.0        1
5        7.0  660.000   755  26.0        1
6        6.8  630.379   711  22.0        1
7        6.7   20.000   797  37.0        1
8        6.8   20.000  1179  92.0        1
9        7.6   26.943  1799  69.0        1

In [24]:
#con el filtrado ya no existen datos faltantes
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   magnitude  782 non-null    float64
 1   depth      782 non-null    float64
 2   sig        782 non-null    int64
 3   gap        782 non-null    float64
 4   tsunami    782 non-null    int64
dtypes: float64(3), int64(2)
memory usage: 30.7 KB

In [25]:
df_filtrado.duplicated().sum()
#Hay 5 filas duplicadas que se van a eliminar

5

In [26]:
df_filtrado = df_filtrado.drop_duplicates()

In [27]:
df_filtrado.duplicated().sum()
#ya no hay filas duplicadas

0